@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* shared styles  */
* {
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}


.primary-color {
    color: #FF42A5;
}


/* navigation styles */

.logo {
    display: flex;
    align-items: center;
    gap: 20px;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-right: 30px;
}

.nav-social {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}


.logo-title {
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.menu {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}





/* banner section styles */

.banner-container {
    display: flex;   
    justify-content: space-evenly;
}
.banner-info {
    width: 80%;
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}


.banner-img {
    margin-right: 100px;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.banner-logo {
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.bullet-point li {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}


.btn-banner1 {
    padding: 11px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}


.btn-banner2 {
    padding: 11px 20px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}


.banner-btn {
    margin-bottom: 30px;
}


/* gamer section styles  */

.gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-bottom: 50px;
}
.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.gamer-img > img{
    width: 100%;
}

.gamer-title {
    text-align: right;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
}

.btn-gamer {
    text-align: right;
    margin-top: 20px;
}


.gamer-description {
    margin-top: 24px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 520px;
}


.gamer-agenda {
    margin-top: 10px;
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}


.gamer-agenda2 {
    color: #534C64;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}


/* online section styles */
.online {
    text-align: center;
    padding: 100px;
}

.online-title {
    color: #0B0223;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.online-grad {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.online-description {
    margin-bottom: 40px;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}


.online-card-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    
    

}


.container>img {
    width: 100%; 
}

.card-img:hover {
    opacity: 0.9;
}

.card {
    text-align: left;
}


.text {
    color:  #FF42A5;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container{
    position: relative;
    width: 100%;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
.container:hover .overlay {
    opacity: .5;
}

.hover-img {
    margin-top: 80px;
    margin-left: 100px;
}
  

/* play section styles  */

.play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 90px;
}

.play-title {
    color: #0B0223;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}
.play-header {
    color: #F948B2;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 20px;
    
}


.play-img>img {
    width: 100%;
    
}


.play-info {
    padding-right: 100px;
    text-align: right;
}

#play-over {
    width: 40%;
    margin-top: -150px;
    position: relative;
    right: 50px;
}







/* Responsive styles  */

/* for small/mobile devices  */
@media screen and (max-width:576px) {
    /* navigation section styles  */
    nav {
        flex-direction: column;
        text-align: center;
        box-shadow: none;
    }

    nav ul {
        flex-direction: column;
    }


    nav li {
        margin-top: 20px;
    }


    /* banner section styles  */

    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px 10px;
    }

    .banner-info {
        padding-top: 70px;
        width: 100%;
        margin-top: 20px;

    }

    .banner-img {
        align-items: center;
        width: 100%;
    }

    
    /* gamer section styles  */

    .gamer {
        background: none;
    }
    .gamer-container {
        flex-direction: column;
        width: 100%;
    }
    

    .gamer-img, .gamer-info, .gamer-description  {
        
        width: 100%;
    }


    .gamer-title, .btn-gamer, .gamer-agenda, .gamer-description {
        text-align: center;
    }



    /* online section styles  */


    .online-card-container {
        grid-template-columns: auto;
        width: 100%;
    }

    
    



    



}


/* for medium/tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    /* navigation styles  */
    nav {
        flex-direction: column;
        text-align: center;
        box-shadow: none;
    }

    nav ul {
        flex-direction: column;
    }


    nav li {
        margin-top: 20px;
    }

    
    /* banner styles */
    .banner-info {
        padding: 0px 30px;
    }

    .banner-img > img {
        height: 100%;
    }


    /* gamer section styles  */
    .gamer-container {
        flex-direction: column;
    }

    /* online section style  */

    .online-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
